{% extends 'shop/layouts/main.html' %}
{% block title %}
    Home page
{% endblock title %}

{% block content %}
{% include 'shop/inc/slider.html' %}
<section style="background-image: url('/static/images/sAa.jpg');">
<div class="container my-5">
    <div class="class">
        <div class="col-12"><h3 style="background-color: orange;">TRENDING</h3></div>
        {% for item in trending_product %}
        <div class="col-md-7 col-lg-3">
            <div class="card my-3">
                <img src="{{item.PRODUCT_IMAGE.url}}" class="card-image-top" alt="Categories">
                    <a href="{% url 'product_details' item.category.NAME item.NAME %}">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{item.NAME}}</h5>
                    <p class="card-text">
                        <span class="float-start old_price" style="font-weight: bold; color: red;"><s>Rs.{{ item.ORIGINAL_PRICE | stringformat:'d' }}</s></span>
                        <span class="float-end new_price" style="background-color: green; color: white;">Rs.{{ item.SELLING_PRICE | stringformat:'d' }}</span>
                    </p> 
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock content %}
